<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Hermes</title>
    <link rel="icon" href="{{ url_for(endpoint='static', filename='images/favicon.ico') }}">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for(endpoint='static', filename='css/main.css') }}" rel="stylesheet">

    {% block redirect %}{% endblock %}
</head>

<body onload={% block onload %}""{% endblock %}>
<div class="container text-center flex" style="overflow: auto">
    <img src="{{ url_for(endpoint='static', filename='images/logo.png') }}" alt="">
    <br><br>

    {% block page_content %}
    {% endblock %}
</div>
</body>
</html>
