{% extends "base.html" %}

{% block onload %}{% if msg %}"alert('{{ msg }}')"{% endif %}{% endblock %}

{% block page_content %}
    <div class="center" style="max-width: 800px">
        <form class="form" enctype="multipart/form-data" method="post" action="/submit">
            <label for="log_phone" class="sr-only"></label>
            <input type="number" class="form-control center" name="log_phone" id="log_phone" value="{{ log_phone }}"
                   placeholder="Enter the phone number logs should be sent to, with international code without any symbols"
                   style="width: 70%" required>

            <hr>

            <div class="custom-file" style="width: 70%">
                <input type="file" class="form-control center custom-file-input" name="file" id="file"
                       accept=".csv" required>
                <label class="custom-file-label" style="text-align: left !important;" for="file">Choose file...</label>

                <script>
                    document.getElementById('file').addEventListener('change',(e) => {
                        const fileName = e.target.files[0].name;
                        document.getElementsByClassName('custom-file-label')[0].innerHTML=fileName;
                    })
                </script>
            </div>

            <hr>

            <label for="ids" class="sr-only"></label>
            <input type="text" class="form-control center" name="ids" id="ids" value="{{ ids }}"
                   placeholder="Enter all the user ids separated by space; just enter 'all' to send to all"
                   style="width: 70%" required>

            <label for="content" class="sr-only"></label>
            <textarea class="form-control center" name="content" id="content"
                      placeholder="Type your message here! You can use emojis in your message as well :)"
                      style="width: 70%" required>{{ content }}</textarea>

            <hr>

            <input class="btn btn-lg btn-primary btn-block center" type="submit" value="SEND" style="width: 330px">
        </form>
    </div>
{% endblock %}