{% extends "base.html" %}

{% block redirect %}
    <style>
        html, body {
            height: auto !important;
        }
    </style>
{% endblock %}

{% block page_content %}
    <h1>A Web Application for Mass messaging on WhatsApp</h1>
    <h3>Use from Desktop / Laptop is suggested.</h3>
    <hr>
    <div style="text-align: left !important;">
        <ul>
            <li><p>Click on the <strong>Start</strong> button to go to the form.</p>
            </li>
            <li><p>Fill the form according to the following rules</p>
                <ul>
                    <li><p>Enter a number to which a list of people who got the message and a
                        list of people who couldn&#39;t get the message will be sent. The number must
                        be include the country code without the <code>+</code>. For example, if your number
                        is <code>987654321</code> and you&#39;re from India (<code>+91</code>), then enter <code>91987654321</code>.
                    </p>
                    </li>
                    <li><p>Upload a <strong>CSV</strong> file with three columns (Don't forget to add the column
                        headings, which should be exactly as given)</p>
                        <ul>
                            <li><p><code>id</code>, which contains a numeric id unique for each entry.</p>
                            </li>
                            <li><p><code>name</code>, which contains the name of the person.</p>
                            </li>
                            <li><p><code>phone</code>, which contains the number to which the message should be sent.
                                Follow the same format as the logging phone number. It's not necessary for the
                                numbers to be in your contacts list or for you to have an existing chat with them.</p>
                            </li>
                        </ul>
                    </li>
                    <li><p>Enter which IDs from the CSV you want to send the message to. You can
                        either enter the IDs space separated, or just enter <code>all</code> to send to all.</p>
                    </li>
                    <li><p>Enter the message you want to send. You can use <code>{{ name }}</code> as a placeholder
                        which will be replaced by the name in the CSV.</p>
                    </li>
                </ul>
            </li>
            <li><p>Wait for the QR to load on the screen. Once it loads, scan the QR from your
                phone. The application will wait till you&#39;re logged in, and then start sending
                the messages in the background.</p>
            </li>
        </ul>
    </div>
    <hr>
    <h3>
        This application is meant primarily for event management - to contact people who have signed up for events for
        relaying information and reminders. Any usage of this application outside of this usecase is not endorsed, and I
        will not take responsibility for it.
    </h3>
    <div class="center" style="max-width: 330px; margin-top: 5%">
        <a href="/form">
            <button class="btn btn-lg btn-primary btn-block">Start</button>
        </a>
    </div>
{% endblock %}